<div id="about" class="container">
	<div class="row">
		<div class="text-center divImage">
			<img src="assets/images/Tarciso.JPG" alt="Tarciso" id="top" class="top my-image image-responsive hoverable">
		</div>
		<section id="home" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<span id="typed"></span>
		</section>
	</div>
</div>